.table-editable {
  position: relative;
}
.table-editable .glyphicon {
  font-size: 20px;
}
body {
  
  background-color: #e3e3e3;
}


.table-add {
  color:#00F;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
.table-add:hover {
  color: #0b0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}